.flex-grid-center
	.pure-button.fuller-button.blue ACCEPT

	.pure-button.fuller-button.red REFUSE

	.pure-button.fuller-button.white MORE INFO

//form.pure-form
	.pure-control-group.pure-u-1
		label(for="name") NAME
		input.form-control#form-name(name="name" type="text")